/*media*/
/*@media (max-width:768px) {
  header {
    padding: 15px 20px 15px 20px;
  }
}*/

@media (max-width:640px) {
  /*header*/
  /*header.navFixed {
    padding: 0 20px;
  }
  header section h2 {
    margin-right: 20px;
  }
  header nav ul li:nth-child(1),
  header nav ul li:nth-child(2),
  header nav ul li:nth-child(3) {
    display: none;
  }

  footer section.contact-us ul li p {
    min-width: 80px;
  }*/
  /*footer s1*/
  /*footer section:nth-child(1) {
    padding-bottom: 40px;

    flex-direction: column-reverse;
  }
  footer section:nth-child(1) div p {
    margin: 40px 8px 40px 0;
  }*/
  /*footer s2*/
  /*footer section:nth-child(2) {
    padding-bottom: 40px;

    flex-direction: column;
  }
  footer section:nth-child(2) div:nth-child(1) {
    padding-bottom: 40px;

    align-items: center;
  }*/
  /*footer s3*/
  /*footer section.contact-us {
    width: 80%;
  }
  footer section.contact-us ul li:nth-child(1),
  footer section.contact-us ul li:nth-child(2) {
    width: 100%;
  }
  footer section.contact-us ul li.phone input {
    width: 100%;
  }*/
  /*footer s5*/
  /*footer section:nth-child(5) {
    padding-top: 16px;

    flex-direction: column-reverse;
  }*/
}

@media (max-width:420px) {
  /*footer s3*/
  /*footer section.contact-us {
    width: 90%;
  }
  footer section.contact-us div {
    width: 255px;
  }
  footer section.contact-us div input {
    width: 120px;
  }*/
}
