<article class="lightbox">
  <section class="certification-detail" style="background-image: url(../../upload/lightbox/certification_detail/lightbox-bgpic01.jpg)">
    <ul>
      <li>
        <img src="../../upload/lightbox/certification_detail/lightbox-pic01.jpg" alt="">
      </li>
      <li>
        <img src="../../upload/lightbox/certification_detail/lightbox-pic01.jpg" alt="">
      </li>
      <li>
        <img src="../../upload/lightbox/certification_detail/lightbox-pic01.jpg" alt="">
      </li>
    </ul>
    <div class="info">
      <h2>ISO 22000</h2>
      <p>
        食品安全管理系統，為食品安全領域唯一的一個國際性標準，因此工廠本身內外條件到食品供應連結必須符合國際規格，以提供客戶、末端消費對企業及其產品的信任度。
      </p>
    </div>
    <a href="#top" class="hvr-bounce-to-bottom back-to-top">TOP</a>
    <span class="btn-for-close block-close swpmodal-close">
      <span></span>
    </span>
  </section>
</article>
