<article class="lightbox">
  <section>
    <div class="sec1">
      <div class="btn-for-close swpmodal-close">
        <span href="javascript:void(0)"></span>
      </div>
      <h2>台灣食品安全衛生管理法規</h2>
      <p>10 FEB. 2017</p>
      <ul class="share">
        <li>
          <p>SHARE</p>
          <span class="icon-facebook"></span>
          <span class="icon-instagram"></span>
          <span class="icon-twitter"></span>
        </li>
      </ul>
      <ul class="select">
        <li>
          <a href="javascript:void(0)">
            <p>台灣食品添加物規格</p>
            <span class="icon-chevron-thin-up"></span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <p>台灣食品添加物使用範圍</p>
            <span class="icon-chevron-thin-up"></span>
          </a>
        </li>
      </ul>
      <div class="hide"></div>
    </div>
    <div class="sec2">
      <div class="box-textarea">
        <h2>第一章 總則</h2>
        <h3>第1條</h3>
        <p>為管理食品衛生安全及品質，維護國民健康，特制定本法。</p>
        <h3>第2條</h3>
        <p>
          本法所稱主管機關：在中央為衛生福利主管機關；在直轄市為直轄市政府
          ；在縣（市）為縣（市）政府。
        </p>
        <h3>第2-1條</h3>
        <p>
          為加強全國食品安全事務之協調、監督、推動及查緝，行政院應設食品安
          全會報，由行政院院長擔任召集人，召集相關部會首長、專家學者及民間
          團體代表共同組成，職司跨部會協調食品安全風險評估及管理措施，建立
          食品安全衛生之預警及稽核制度，至少每三個月開會一次，必要時得召開
          臨時會議。召集人應指定一名政務委員或部會首長擔任食品安全會報執行
          長，並由中央主管機關負責幕僚事務。
          各直轄市、縣（市）政府應設食品安全會報，由各該直轄市、縣（市）政
          府首長擔任召集人，職司跨局處協調食品安全衛生管理措施，至少每三個
          月舉行會議一次。
          第一項食品安全會報決議之事項，各相關部會應落實執行，行政院應每季
          追蹤管考對外公告，並納入每年向立法院提出之施政方針及施政報告。
          第一項之食品安全會報之組成、任務、議事程序及其他應遵行事項，由行
          政院定之。
        </p>
        <h3>第3條</h3>
        <p>
          本法用詞，定義如下：
          一、食品：指供人飲食或咀嚼之產品及其原料。
          二、特殊營養食品：指嬰兒與較大嬰兒配方食品、特定疾病配方食品及其
              他經中央主管機關許可得供特殊營養需求者使用之配方食品。
          三、食品添加物：指為食品著色、調味、防腐、漂白、乳化、增加香味、
              安定品質、促進發酵、增加稠度、強化營養、防止氧化或其他必要目
              的，加入、接觸於食品之單方或複方物質。複方食品添加物使用之添
              加物僅限由中央主管機關准用之食品添加物組成，前述准用之單方食
              品添加物皆應有中央主管機關之准用許可字號。
          四、食品器具：指與食品或食品添加物直接接觸之器械、工具或器皿。
          五、食品容器或包裝：指與食品或食品添加物直接接觸之容器或包裹物。
          六、食品用洗潔劑：指用於消毒或洗滌食品、食品器具、食品容器或包裝
              之物質。
          七、食品業者：指從事食品或食品添加物之製造、加工、調配、包裝、運
              送、貯存、販賣、輸入、輸出或從事食品器具、食品容器或包裝、食
              品用洗潔劑之製造、加工、輸入、輸出或販賣之業者。
          八、標示：指於食品、食品添加物、食品用洗潔劑、食品器具、食品容器
              或包裝上，記載品名或為說明之文字、圖畫、記號或附加之說明書。
          九、營養標示：指於食品容器或包裝上，記載食品之營養成分、含量及營
              養宣稱。
          十、查驗：指查核及檢驗。
          十一、基因改造：指使用基因工程或分子生物技術，將遺傳物質轉移或轉
                殖入活細胞或生物體，產生基因重組現象，使表現具外源基因特性
                或使自身特定基因無法表現之相關技術。但不包括傳統育種、同科
                物種之細胞及原生質體融合、雜交、誘變、體外受精、體細胞變異
                及染色體倍增等技術。
        </p>
      </div>
      <a href="#top" class="hvr-bounce-to-bottom back-to-top">TOP</a>
    </div>
  </section>
</article>
