<article class="lightbox">
  <section>
    <div class="sec1">
      <div class="btn-for-close swpmodal-close">
        <span href="javascript:void(0)"></span>
      </div>
      <h2>食品香料原料</h2>
      <p>10 FEB. 2017</p>
      <ul class="share">
        <li>
          <p>SHARE</p>
          <span class="icon-facebook"></span>
          <span class="icon-instagram"></span>
          <span class="icon-twitter"></span>
        </li>
      </ul>
      <ul class="select">
        <li>
          <a href="javascript:void(0)">
            <p>食品香料名詞介紹</p>
            <span class="icon-chevron-thin-up"></span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <p>食品香氣成分分析</p>
            <span class="icon-chevron-thin-up"></span>
          </a>
        </li>
      </ul>
      <div class="hide"></div>
    </div>
    <div class="sec2">
      <div class="box-textarea">
        <div class="only-img">
          <!-- 圖片 -->
          <picture>
            <img src="../../upload/lightbox/news_detail2/detail2-pic01.jpg">
          </picture>
        </div>
        <div class="only-word">
          <!-- 編輯文字 -->
          <h2>一、簡介</h2>
          <p>
            食用香料是參照天然食品的香味，採用天然和天然等同香料、合成香料經精心調配而成具有天然風
            味的各種香型的香料。包括水果類水質和油質、奶類、家禽類、肉類、蔬菜類、堅果類、蜜餞類、
            乳化類以及酒類等各種香料，適用於飲料、餅乾、糕點、冷凍食品、糖果、調味料、乳製品、罐頭、
            酒等食品中。食用香料的劑型有液體、粉末、微膠囊、漿狀等。

            現代食品工業為了追求利益最大化，需要添加相應的香料來強化或改善其產品的香味，誘導消費，
            擴大銷售。

            香料作為一種可影響食品口感和風味的特殊高倍濃縮添加物已經被廣泛應用到食品生產的各個領域，
            它可以彌補食品本身的香味缺陷，賦予部分食品生動的原滋味，加強食品的香味，掩蓋食物的不良
            氣息，香料的這些優點使其日益成為人們研究的重點。隨著現代分析技術的發展以及分析手段的不
            斷改進，越來越多香氣物質的結構被鑒定出來，尤其是含硫化合物等這樣含量微小但對香型卻不可
            缺少的成分被發現後，合成香料與天然香料的香氣更加接近，從而使得合成香料產業得到了飛速的
            發展，食品香料已經成為現代食品工業不可缺少的重要組成部分。

            長期以來香料一直因其用量少，同時具有自我限量的特性，因而不像化學合成甜味劑、防腐劑、色
            素那樣受到人們的強烈關注。然而近二十年來的研究成果告訴我們，食品香料並不是完全安全的，
            大部分香料的危害要經過長期的積累才能表現出來，這些物質常常危害人類的生殖系統，同時多數
            具有潛在的致癌性。如丙烯酰胺、氯丙醇等對人體的生殖毒性、致癌性等。因此，世界各國都對香
            料香料的使用制定了嚴格的法規加以管理。
          </p>
        </div>
        <div class="img-at-head">
          <!-- 單圖片上+編輯文字下 -->
          <picture>
            <img src="../../upload/lightbox/news_detail2/detail2-pic01.jpg">
          </picture>
          <h2>一、簡介</h2>
          <p>
            食用香料是參照天然食品的香味，採用天然和天然等同香料、合成香料經精心調配而成具有天然風
            味的各種香型的香料。包括水果類水質和油質、奶類、家禽類、肉類、蔬菜類、堅果類、蜜餞類、
            乳化類以及酒類等各種香料，適用於飲料、餅乾、糕點、冷凍食品、糖果、調味料、乳製品、罐頭、
            酒等食品中。食用香料的劑型有液體、粉末、微膠囊、漿狀等。

            現代食品工業為了追求利益最大化，需要添加相應的香料來強化或改善其產品的香味，誘導消費，
            擴大銷售。

            香料作為一種可影響食品口感和風味的特殊高倍濃縮添加物已經被廣泛應用到食品生產的各個領域，
            它可以彌補食品本身的香味缺陷，賦予部分食品生動的原滋味，加強食品的香味，掩蓋食物的不良
            氣息，香料的這些優點使其日益成為人們研究的重點。隨著現代分析技術的發展以及分析手段的不
            斷改進，越來越多香氣物質的結構被鑒定出來，尤其是含硫化合物等這樣含量微小但對香型卻不可
            缺少的成分被發現後，合成香料與天然香料的香氣更加接近，從而使得合成香料產業得到了飛速的
            發展，食品香料已經成為現代食品工業不可缺少的重要組成部分。

            長期以來香料一直因其用量少，同時具有自我限量的特性，因而不像化學合成甜味劑、防腐劑、色
            素那樣受到人們的強烈關注。然而近二十年來的研究成果告訴我們，食品香料並不是完全安全的，
            大部分香料的危害要經過長期的積累才能表現出來，這些物質常常危害人類的生殖系統，同時多數
            具有潛在的致癌性。如丙烯酰胺、氯丙醇等對人體的生殖毒性、致癌性等。因此，世界各國都對香
            料香料的使用制定了嚴格的法規加以管理。
          </p>
        </div>
        <div class="img-at-foot">
          <!-- 單圖片下+編輯文字上 -->
          <h2>一、簡介</h2>
          <p>
            食用香料是參照天然食品的香味，採用天然和天然等同香料、合成香料經精心調配而成具有天然風
            味的各種香型的香料。包括水果類水質和油質、奶類、家禽類、肉類、蔬菜類、堅果類、蜜餞類、
            乳化類以及酒類等各種香料，適用於飲料、餅乾、糕點、冷凍食品、糖果、調味料、乳製品、罐頭、
            酒等食品中。食用香料的劑型有液體、粉末、微膠囊、漿狀等。

            現代食品工業為了追求利益最大化，需要添加相應的香料來強化或改善其產品的香味，誘導消費，
            擴大銷售。

            香料作為一種可影響食品口感和風味的特殊高倍濃縮添加物已經被廣泛應用到食品生產的各個領域，
            它可以彌補食品本身的香味缺陷，賦予部分食品生動的原滋味，加強食品的香味，掩蓋食物的不良
            氣息，香料的這些優點使其日益成為人們研究的重點。隨著現代分析技術的發展以及分析手段的不
            斷改進，越來越多香氣物質的結構被鑒定出來，尤其是含硫化合物等這樣含量微小但對香型卻不可
            缺少的成分被發現後，合成香料與天然香料的香氣更加接近，從而使得合成香料產業得到了飛速的
            發展，食品香料已經成為現代食品工業不可缺少的重要組成部分。

            長期以來香料一直因其用量少，同時具有自我限量的特性，因而不像化學合成甜味劑、防腐劑、色
            素那樣受到人們的強烈關注。然而近二十年來的研究成果告訴我們，食品香料並不是完全安全的，
            大部分香料的危害要經過長期的積累才能表現出來，這些物質常常危害人類的生殖系統，同時多數
            具有潛在的致癌性。如丙烯酰胺、氯丙醇等對人體的生殖毒性、致癌性等。因此，世界各國都對香
            料香料的使用制定了嚴格的法規加以管理。
          </p>
          <picture>
            <img src="../../upload/lightbox/news_detail2/detail2-pic01.jpg">
          </picture>
        </div>
        <div class="img2-at-head">
          <!-- 雙圖片上+編輯文字下 -->
          <div>
            <picture>
              <img src="../../upload/lightbox/news_detail2/detail2-pic02.jpg">
            </picture>
            <picture>
              <img src="../../upload/lightbox/news_detail2/detail2-pic03.jpg">
            </picture>
          </div>
          <h2>二、品種</h2>
          <p>
            食用香料在食用香料中所佔比例很小，但需進行一定的安全、衛生評價，符合有關衛生法規的要求
            後方可使用。食用香料品種很多，按劑型分為固體和液體。固體香料有微膠囊香料等。液體香料又
            可分為水溶性香料、油溶性香料和乳化香料3類。此外，也可按香型和用途分類。

            微膠囊香料是將香料與包裹劑（如變性澱粉等）通過乳化、噴霧乾燥製成，有防止氧化和揮發損失
            的特點，主要用於固體飲料、調味料等的加香。
            水溶性香料是用蒸餾水或乙醇等作稀釋劑與食用香料調合而成，主要用於軟飲料等的加香。
            油溶性香料則是用大豆油，調和油，葵花籽油等與食用香料調合所得，主要用於糖果、餅乾等的加
            香。
            乳化香料是由食用香料、食用油、比重調節劑、抗氧化劑、防腐劑等組成的油相和由乳化劑、著色
            劑、防腐劑、增稠劑、酸味劑和蒸餾水等組成的水相，經乳化、高壓均質製成，主要用於軟飲料和
            冷飲品等的加香、增味、著色或使之混濁。
          </p>
        </div>
        <div class="img2-at-foot">
          <!-- 雙圖片下+編輯文字上 -->
          <h2>二、品種</h2>
          <p>
            食用香料在食用香料中所佔比例很小，但需進行一定的安全、衛生評價，符合有關衛生法規的要求
            後方可使用。食用香料品種很多，按劑型分為固體和液體。固體香料有微膠囊香料等。液體香料又
            可分為水溶性香料、油溶性香料和乳化香料3類。此外，也可按香型和用途分類。

            微膠囊香料是將香料與包裹劑（如變性澱粉等）通過乳化、噴霧乾燥製成，有防止氧化和揮發損失
            的特點，主要用於固體飲料、調味料等的加香。
            水溶性香料是用蒸餾水或乙醇等作稀釋劑與食用香料調合而成，主要用於軟飲料等的加香。
            油溶性香料則是用大豆油，調和油，葵花籽油等與食用香料調合所得，主要用於糖果、餅乾等的加
            香。
            乳化香料是由食用香料、食用油、比重調節劑、抗氧化劑、防腐劑等組成的油相和由乳化劑、著色
            劑、防腐劑、增稠劑、酸味劑和蒸餾水等組成的水相，經乳化、高壓均質製成，主要用於軟飲料和
            冷飲品等的加香、增味、著色或使之混濁。
          </p>
          <div>
            <picture>
              <img src="../../upload/lightbox/news_detail2/detail2-pic02.jpg">
            </picture>
            <picture>
              <img src="../../upload/lightbox/news_detail2/detail2-pic03.jpg">
            </picture>
          </div>
        </div>
      </div>
      <a href="#top" class="hvr-bounce-to-bottom back-to-top">TOP</a>
    </div>
  </section>
</article>
