<article class="lightbox">
  <section class="privacy">
    <span class="btn-for-close block-close swpmodal-close">
      <span></span>
    </span>
    <div class="title">
      <h2>PRIVACY  POLICY</h2>
      <span class="middle-line"></span>
    </div>
    <ul class="text">
      <li>
        <p>
          歡迎光臨「美淳香料股份有限公司」網站。</br>
          為了讓您安心使用本網站的各項服務與資訊、並保障您的權益，本網站謹依個人資料保護法與此隱私權政策蒐集、使用、處理、保護您的個人資料。請您使用本網站前，務必詳細閱讀並同意本隱私權政策內容。
        </p>
      </li>
      <li>
        <h2>一、隱私權保護之協助</h2>
        <p>
          為讓您安心使用本網站，若您就您使用本網站時所提供的個人資料有下列需求，得透過本公司服務信箱向本公司提出，本公司將盡速配合處理：</br>
          一、 經適當之說明後請求補充或更正個人資料。</br>
          二、 請求停止蒐集、處理或利用個人資料。</br>
          三、 請求刪除個人資料。</br>
          四、 負擔必要成本費用後查詢、請求閱覽本人之個人資料，或請求製給複製本。但有妨害國家安全、外交及軍事機密、其他國家重大利益、本公司或第三人之重大利益者，不在此限。</br>
        </p>
      </li>
      <li>
        <h2>二、隱私權保護政策的適用範圍與時間</h2>
        <p>
          本網站隱私權保護政策之適用範圍，包括美淳香料股份有限公司及其控制從屬公司如何蒐集、處理、使用、保護由本網站所取得之個人資料。本隱私權保護政策不適用於非本網站所委託或參與管理的人員。</br></br>
          為因應法令修正等事由，本網站有權修改或變更本政策之內容，並於修改時起向後生效。請您於使用本網站前重新查看本隱私權保護政策，以了解您當前的權利及義務。</br>
        </p>
      </li>
      <li>
        <h2>三、網站對外的相關連結</h2>
        <p>
          本網站的網頁上有提供其他網站的網路連結，您可能經由該等連結，點選進入其他網站，但該連結網站不適用本網站的隱私權保護政策，您必須另行參考該連結網站中的隱私權保護政策。</br>
        </p>
      </li>
      <li>
        <h2>四、Cookie之使用</h2>
        <p>
          為了提供您最佳的服務，本網站會在您的電腦中放置並取用我們的 Cookie，若您不願接受 Cookie 的寫入，您可在您使用的瀏覽器功能項中設定隱私權等級為高，即可拒絕 Cookie 的寫入，但可能會導致網站某些功能無法正常執行。</br>
        </p>
      </li>
      <li>
        <h2>五、個人資料之蒐集、處理、使用方式</h2>
        <p>
          本網站在您使用服務信箱、問卷調查等互動性功能時，會保留您所提供的姓名、電子郵件地址、聯絡方式、使用時間等資料。此等資料將作為提供您服務及優化服務之內部參考使用。</br></br>
          於一般瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，此記錄將供本公司優化服務之內部參考。</br></br>
          針對蒐集之問卷調查內容等互動性資料，我們將進行統計與分析，分析結果之統計數據或說明文字呈現，除供內部研究外，我們會視需要公佈統計數據及說明文字，但不會涉及特定個人之資料。</br></br>
          當您造訪本網站或使用本網站所提供之功能服務時，我們將視該服務功能性質，請您提供必要的個人資料，並僅於提供您服務之特定目的範圍內由本公司或控制從屬公司使用該等資料。但有個人資料保護法所列法定例外情形者，得為前述特定目的範圍外之處理、利用。</br>
          此種情形包含但不限於：</br>
          一、法律明文規定。</br>
          二、為免除當事人之生命、身體、自由或財產上之危險。</br>
          三、為防止他人權益之重大危害。</br>
          四、公務機關或學術研究機構基於公共利益為統計或學術研究而有必要，且資料經過提供者處理後或經蒐集者依其揭露方式無從識別特定之當事人。</br>
          五、經當事人同意。</br>
          六、有利於當事人權益。</br></br>
          個人資料蒐集之特定目的消失或保存期限屆滿時，本公司將主動或依您請求刪除、停止處理或使用該個人資料。
        </p>
      </li>
      <li>
        <h2>六、個人資料安全維護方針</h2>
        <p>
          為了保障您的隱私權益，本公司將以合理之技術及程序，保障所有個人資料之安全。如因業務需要有必要委託其他單位提供服務時，本公司亦會嚴格要求其遵守保密義務，並且採取必要程序以確保其將確實遵守。</br>
        </p>
      </li>
      <li>
        <h2>七、不公開個人資料</h2>
        <p>
          本網站非經您同意，不會將您的個人資料出售、出租、交換、提供給本公司、本公司之控制從屬公司、本公司委託協助蒐集、處理、使用相關資料之委外廠商或個人以外之其他個人、團體、私人企業或公務機關使用。但有法律上依據或契約上義務者，不在此限。</br>
          本款但書之情形包含但不限於：</br>
          一、法律明文規定。</br>
          二、經當事人同意。</br>
          三、為免除當事人之生命、身體、自由或財產上之危險。</br>
          四、為防止他人權益之重大危害。
        </p>
      </li>
      <li>
        <h2>八、聯絡方式</h2>
        <p>
          若您對於本網站有任何建議，歡迎來信至我們的服務信箱：service@maychen.com
        </p>
      </li>
    </ul>
    <a href="javascript:void(0)" class="hvr-bounce-to-bottom close-btn swpmodal-close">CLOSE</a>
  </section>
</article>
