<article class="lightbox">
  <section class="product-detail">
    <div class="sec1" style="background-image: url(../../upload/lightbox/product_detail/detail-pic01.jpg)">
      <!-- <picture>
        <img src="../../upload/lightbox/product_detail/detail-pic01.jpg" alt="">
      </picture> -->
    </div>
    <div class="sec2">
      <div class="btn-for-close">
        <span class="swpmodal-close"></span>
      </div>
      <div class="title">
        <h2>Fruit & Vegetable</h2>
        <h3>蔬果類</h3>
        <p>檸檬香的經典是精準復刻的真實</p>
      </div>
      <ul class="category">
        <li>
          <p>蘋果</p>
          <span>APPLE</span>
        </li>
        <li>
          <p>蘆筍</p>
          <span>ASPARAGUS</span>
        </li>
        <li>
          <p>香蕉</p>
          <span>BANANA</span>
        </li>
        <li>
          <p>黑加侖</p>
          <span>BLACKCURRANT</span>
        </li>
        <li>
          <p>羅漢果</p>
          <span>LUOHAN FRUIT</span>
        </li>
        <li>
          <p>龍眼乾</p>
          <span>LONGAN DRIED</span>
        </li>
        <li>
          <p>香瓜</p>
          <span>MELON</span>
        </li>
        <li>
          <p>芒果</p>
          <span>MANGO</span>
        </li>
      </ul>
      <div class="detail">
        <span class="middle-line"></span>
        <h2>Detail Information</h2>
        <h3>更多詳細介紹，歡迎直接聯繫美淳</h3>
        <a href="../contact/index.html" class="btn">
          <span class="icon-mail"></span>
          <p>WELCOME</p>
        </a>
        <div class="tel">
          <span>T</span>
          <p> +886 4 1234 5678</p>
        </div>
      </div>
      <a href="#top" class="hvr-bounce-to-bottom back-to-top">TOP</a>
    </div>
  </section>
</article>
